{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/css/home.css" media="screen, projection" />
{% endblock %}
{% block body %}
    <form id="home-search-form" action="{{ path('emovie_search_search_index') }}" method="GET">
        <input id="home-search-box" type="search" name="q" placeholder="Search a movie..." class="center" />
        <input id="home-search-button" type="submit" value="Search" />
    </form>
{% endblock body %}
