{% extends '::base.html.twig' %}

{% block body %}
    <p>Welcome to E-Movie.</p>

    <form action="/app_dev.php/search" method="GET">
        <input type="search" name="q" placeholder="Search a movie..." />
        <input type="submit" value="Search" />
    </form>
{% endblock body %}
